doctype html
html(lang='ru' id='here')

  include ./include/global-mixins.pug
  include ./include/local-mixins.pug
  include ./include/header.pug

  #Content
    <h1>Backup Queue Summary</h1>

    <h2>User Queue Summary</h2>

    <p>
    The following user requests are currently queued:
    </p>
    <table class="tableStnd sortable" border cellspacing="1" cellpadding="3" width="80%">
    <tr class="tableheader"><td> Host </td>
        <td> Action </td>
        <td> Req Time </td>
        <td> User </td></tr>

    </table>

        <h2>Background Queue Summary</h2>

    <p>
    The following background requests are currently queued:
    </p>
    <table class="tableStnd sortable" border cellspacing="1" cellpadding="3" width="80%">
    <tr class="tableheader"><td> Host </td>
        <td> Action </td>
        <td> Req Time </td>
        <td> User </td></tr>

    </table>
        <h2>Command Queue Summary</h2>

    <p>
    The following command requests are currently queued:
    </p>
    <table class="tableStnd sortable" border cellspacing="1" cellpadding="3" width="80%">
    <tr class="tableheader"><td> Host </td>
        <td> Action </td>
        <td> Req Time </td>
        <td> User </td>
        <td> Command </td></tr>

    </table>